<div (scroll)="onScroll($event)">
  <ion-text
    class="courses-list-title title font-largeTitle d-block w-100 text-center"
    >Esperia Home</ion-text
  >
  <!-- Course VCard -->
  <div class="courses-list">

    <div
      class="course-container shadow"
      [class.pb-5]="course.cta"
      *ngFor="let course of courses; trackBy: trackCourses"
      [style.--course-bg]="course.color"
    >
      <ion-img class="course-img" [src]="icons[course.topics[0]] || course.image"></ion-img>

      <ion-text class="course-title font-title2">{{course.title}}</ion-text>
      <ion-text class="course-subtitle font-body">
        {{course.subtitle}}
      </ion-text>
      <ion-text class="course-caption font-footnote2">
        {{course.caption.toUpperCase()}}
      </ion-text>
      <div class="spacer"></div>
      <div class="position-absolute bottom-0 pb-4" *ngIf="course.cta">
        <a
          class="course-btn btn bg-light rounded-pill font-body"
          [href]="course.cta.url"
        >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          {{course.cta.text}}
      </a>
      </div>
    </div>
    <app-weather
      [openData]="openData"
      [icons]="weatherIcons"
      *ngIf="openData?.weather"
      class="course-container shadow pb-5 w-lg-50 w-md-75"
    ></app-weather>
    <app-hospital
      [openData]="openData"
      [icons]="icons"
      *ngIf="openData?.hospitals"
      class="course-container shadow pb-5 w-lg-50 w-md-75"
    ></app-hospital>
  </div>

  <ion-text class="recent-title title font-title3">Recent</ion-text>
  <!-- Recent course Section -->
  <div class="section-list">
    <ion-refresher id="refresher" slot="fixed" (ionRefresh)="load($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid class="section-grid">
      <ion-row>
        <ion-col
          *ngFor="let section of courseSections; trackBy: trackCourses"
          size-lg="6"
          size-xl="4"
          size="12"
        >
          <cr-news-card
            (save)="onSectionChange($event)"
            [section]="section"
          ></cr-news-card>
        </ion-col>
        <ion-infinite-scroll (ionInfinite)="onScroll($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row>
    </ion-grid>
  </div>
</div>
