<div class="main-container">
  <ion-img
    src="assets/course_rive/spline.svg"
    class="bg-spline"
    alt="Spline background for blur effect"
  ></ion-img>

  <canvas
    riv="shapes"
    class="rive-bg"
    [width]="platform.width()"
    [height]="platform.height()"
    *ngIf="showRiveAsset"
  >
    <riv-animation name="Animation 1" play></riv-animation>
  </canvas>

  <!-- Main Content -->
  <div #container class="content-container">
    <div class="title">
      <ion-text>
        Admin Access
      </ion-text>
    </div>
    <div class="subtitle font-body">
      <ion-text>
      Welcome to the admin dashboard. Here you can manage stores and notifications
      </ion-text>
    </div>

    <div class="spacer"></div>

    <ion-buttons class="startCoursebtn" (click)="startCoursePressed()">
      <div class="contained shadow"></div>
      <canvas class="contained" riv="button" width="236" height="64">
        <riv-player
          name="active"
          [(play)]="buttonToggle"
          autoreset
          mode="one-shot"
          *ngIf="showRiveAsset"
        ></riv-player>
      </canvas>
      <div class="contained btnContent">
        <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        <ion-text>Login</ion-text>
      </div>
    </ion-buttons>
    <ion-text class="footer-text font-footnote">
      Login with the provided credentials.
      If you don't have an account, please contact the administrator.
    </ion-text>
  </div>

  <ion-button #closeBtn class="close-btn" (click)="onCloseOnBoarding()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>

  <ion-modal
    #modal
    backdropDismiss="false"
    [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation"
  >
    <ng-template>
      <div class="ion-page">
        <cr-sign-in (onClose)="onSignInClose()"></cr-sign-in>
      </div>
    </ng-template>
  </ion-modal>
</div>
