.courses-list-title {
  padding: 0px 20px;
}

.recent-title {
  padding: 0px 20px;
}

ion-col {
  --ion-grid-column-padding: 10px;
}

.section-container {
  background: #222 !important;
  /* border: 1px solid #fff; */
  color: white;
  margin-bottom: 10px;
  box-shadow: 0 0 20px #0005;
  border-radius: 30px;
  padding: 10px 30px;

  ion-col {
    --ion-grid-column-padding: 0px;
  }
  .spacing {
    height: 8px;
  }

  .section-img {
    width: 48px;
    height: 50px;
    object-fit: contain;
    padding: 2px;
    border-radius: 10px;
    background: #fff;
    margin-left: 20px;
  }
}

.title {
  color: var(--cr-color-accent);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.collapsable {
  transition: all 0.7s;
  max-height: 1lh;
  display: block;
  overflow: hidden;
  &.opened {
    max-height: 50lh;
    overflow-y: auto;
  }
}

.open-status {
  position: relative;
  display: block;
  width: 100%;
  &::after {
    content: "<";
    font-family: monospace;
    color: var(--bs-secondary) !important;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: calc(50% - 9px);
    transition: transform 0.7s;
  }

  &.opened::after {
    transform: rotate(-90deg);
  }
}
