<div class="p-2">
  <ion-text class="courses-list-title title font-largeTitle text-center w-100 d-block"
    >
    {{'Search' | translateX}}
    </ion-text
  >
  <ion-searchbar
    placeholder="{{'Search' | translateX}}"
    (ionInput)="search($event)"
  ></ion-searchbar>
  <ion-text class="font-title text-center d-block w-100" *ngIf="stores.length">
    {{'Stores' | translateX}}
  </ion-text>
  <ion-list>
    <ion-item *ngFor="let store of stores" class="bg-transparent">
      <cr-store-card class="w-100" [section]="store"></cr-store-card>
    </ion-item>
  </ion-list>
  <ion-text class="font-title text-center d-block w-100" *ngIf="news.length">
    {{'News' | translateX}}
  </ion-text>

  <ion-list>
    <ion-item *ngFor="let news of news" class="bg-transparent">
      <cr-news-card class="w-100" [section]="news"></cr-news-card>
    </ion-item>
  </ion-list>

  <h3 *ngIf="!(news.length + stores.length)" class="text-center mt-2">
    <ion-img
      class="m-auto mb-2"
      src="https://ouch-cdn2.icons8.com/-iQqxrxT61dfH3LPTMZXI-n9cbeEau7XAB2Yg5iFLTM/rs:fit:368:337/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMTY5/L2EyZDkzYzk4LTli/MjgtNGExNC1iODU1/LTNiZDA0YThkNDVk/YS5wbmc.png"
      style="width: 50vmin; filter: none"
    ></ion-img>
    <ion-text class="font-body">
      <ion-img
        src="https://img.icons8.com/?size=24&id=89144&format=png"
        class="icon"
      ></ion-img>

      {{'SuchEmptiness' | translateX}}</ion-text
    >
  </h3>
</div>
