::ng-deep {
  ion-item,
  ion-list > *,
  ion-list,
  .item-native {
    --ion-item-background: transparent;
    --ion-item-border-color: transparent;
    background: transparent !important;
  }
  input.searchbar-input {
    border-radius: 30px !important;
    box-shadow: var(--bs-box-shadow) !important;
}
  .searchbar-input-container {
    background: #fff3;
    border-radius: 50px;
  }
}
