<div class="wrapper">
  <div class="p-2">
    <ion-searchbar
      placeholder="Search courses"
      (ionInput)="search($event)"
    ></ion-searchbar>
  </div>
  <div class="map-container">
    <div id="map-entire" style="width: 100%; height: 100%;"></div>
  </div>

  <div class="bottom-0 position-fixed mb-5 pb-5  w-100 floating text-center">
    <button class="btn btn-danger rounded-pill m-auto">
      <ion-img src="https://img.icons8.com/material-sharp/24/melting-hert.png" class="icon"></ion-img>&emsp;
      <ion-text class="font-title3">Come on!</ion-text>
    </button>
  </div>
</div>
