<div class="gradient-border">
  <ion-row
    class="tabs-container"
    style="background: #000; mix-blend-mode: lighten"
  >
    <ion-col
      *ngFor="let tab of tabItems; trackBy: trackTabItems"
      (click)="onIconPress(tab)"
    >
      <ng-container *ngIf="{ f: 'png' } as format">
        <div class="active-indicator-container">
          <div
            class="active-indicator"
            [ngClass]="selectedTab.id === tab.id ? 'expand' : ''"
          ></div>
        </div>
        <ion-img
          draggable="false"
          (mouseenter)="format.f = 'gif'"
          (mouseleave)="format.f = 'png'"
          class="p1"
          src="https://img.icons8.com/?size=48&id={{tab.icon}}&format={{selectedTab.id === tab.id ? 'gif' : format.f}}"
        ></ion-img>
      </ng-container>
    </ion-col>
  </ion-row>
</div>
