<div class="p-2">
  <div class="courses-list row justify-content-center" *ngIf="!selectedTopic">
    <ion-text
      class="courses-list-title title font-largeTitle text-center col-12"
      >Topics</ion-text
    >
    <div
      class="course-container col-10 col-lg-11 cursor-pointer"
      *ngFor="let topic of topics | keyvalue"
    >
      <div (click)="clickForSearch(topic.key)">
        <ion-img class="course-img" [src]="icons[topic.key]"></ion-img>

        <ion-text class="course-title font-title2 text-capitalize"
          >{{topic.key}}</ion-text
        >
        <ion-text class="course-subtitle font-subtitle">
          {{topic.value}}
        </ion-text>
      </div>
      <ion-row class="ion-justify-content-between">
        <ion-col
          size="auto"
          class="position-relative"
          (click)="subscribe(topic.key, triggerConfetti)"
        >
          <ion-img
            [src]="
              subscribed.includes(topic.key)
                ? 'https://img.icons8.com/material-sharp/24/bell.png'
                : 'https://img.icons8.com/material-two-tone/48/bell.png'
            "
            class="icon"
          ></ion-img>
          <canvas
            class="rive-confetti center"
            riv="confetti"
            width="200"
            height="200"
          >
            <riv-state-machine name="State Machine 1" play>
              <riv-input
                #triggerConfetti="rivInput"
                name="Trigger explosion"
              ></riv-input>
            </riv-state-machine>
          </canvas>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ng-container *ngIf="selectedTopic">
    <ion-text
      class="font-title text-center d-block w-100"
      (click)="selectedTopic = undefined"
    >
      &#x2190; Back
    </ion-text>
    <div class="courses-list">
      <div class="course-container">
        <ion-img class="course-img" [src]="icons[selectedTopic]"></ion-img>

        <ion-text class="course-title font-title2 text-capitalize"
          >{{selectedTopic}}</ion-text
        >
      </div>
    </div>

    <ion-text class="font-title text-center d-block w-100" *ngIf="news.length"
      >News</ion-text
    >

    <ion-list>
      <ion-item *ngFor="let news of news" class="bg-transparent">
        <cr-news-card class="w-100" [section]="news"></cr-news-card>
      </ion-item>
    </ion-list>
  </ng-container>
</div>
